
body{
  font-family: "Montserrat-thin",sans-serif;
  text-align: center;
}
.container-fluid{

  padding:7% 15%;

}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;

}
.colored-section{
  background-color: #ff4c68;
  color:white;
}
.white-section{
  background-color: white;
}

/* nav bar settings */

.navbar{
  padding:0 0 4.5rem 0;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-item{
  font-family: "Montserrat-lighter";

}
.download-button{
  margin: 3% 5% 3% 0;
}

#title .container-fluid{
  padding:3% 15% 7%;
}
.title-heading{
  text-align: left;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-image{
  width:60%;
  transform: rotate(25deg);
  position:absolute;
  right:35%;

}
@media (max-width:1028px){
  #title{
  }
  .title-image{

    transform: rotate(0);
    position:static;
  }
}




/* features section */
#features{
  background-color: #fff;
  position:relative;
  z-index: 1;





}

.fas{
  color:#ef8172;
  font-size: 4rem;

  padding-bottom: 16px;

}
.fas:hover{
  color: #ff4c68;
}
.feat-title{
  font-family: 'Montserrat', sans-serif;




}

.feat-para{

  padding:0 20%;
  color: grey;



}



/*testimonial setting*/
#testimonials{
  background-color: #ef8172;

}

.testimonial-image{
  width:10%;
  margin: 3%;
  border-radius: 100%;
}
.testimonial-text{
  color:#fff;
}
/* press-features*/
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image{
  width:15%;
  margin: 1% 2%;
  padding:1%;
}
/*pricing-features*/
#pricing{
  padding:4% 5%;
}
.pricing-table{
  padding:80px;
}
/* call to action features */

.cta-text{

  font-family: "Montserrat",sans-serif;
  color:white;
  font-size: 3.5rem;
}


/* footer settings */
#footer{

  background-color: white;
  color:grey;
}
.foot-imag{
  margin: 0.7% 1%;
}
.foot-imag-env{
  margin: 0.7% 1%;
  font-size: 1.2rem;
  color:grey;
}
